/* style.css */
body {
    background-color: lightblue;
    text-align: center;
}

h1 {
    color: navy;
    text-align: center;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; /* 画像の間隔を調整 */
    flex-wrap: wrap; /* 画面が狭いときに折り返す */
}

.image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.image-gallery .responsive-image {
    width: 30%;
    margin: 5px;
}

@media (max-width: 600px) {
    .image-gallery .responsive-image {
        width: 80%; /* スマホ画面では画像を80%幅に */
        margin-bottom: 10px;
    }

